:root {
    --color-primary-red: #EA2423 ;
    --color-primary-yellow: #ffef3a;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {font-size: 62.5%;font-family: 'Roboto', sans-serif;font-weight: 300;} t

body {
    //font-family: 'Georgia', serif;
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
    background-image: linear-gradient(to right top, #FBFBFD, #BCBDBF);
    background-position: cover;
    min-height: 100vh;    
}

.container {
    width: 80vw;
    margin: 0 auto;
    min-height: 90vh;
}
 